@inherits CofoundryTemplatePage<PageViewModel>
@{
    Layout = null;
}

@Cofoundry.Template.UseDescription("A bare template for testing page modules")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Page Module Tests</h1>

        @(Cofoundry.Template.Section("Body")
            .AllowMultipleModules()
            .AllowModuleType<PageListDataModel>()
            .AllowModuleType<PageSnippetDataModel>()
            .AllowModuleType<DirectoryListDataModel>()
            .AllowModuleType<RawHtmlDataModel>()
            .EmptyContentMinHeight(500))

    </div>
</body>
</html>
